<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@127.0.0.1:1521:xe</property>
		<property name="connection.username">system</property>
		<property name="connection.password">sandy</property>
		<!-- Database connection settings 
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@oracledb.cpa9wrnucckl.us-west-2.rds.amazonaws.com:1521:ORCL</property>
		<property name="connection.username">sandeep</property>
		<property name="connection.password">759076@nvS</property>-->

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.OracleDialect</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
		
		<property name="hibernate.cache.provider_class">
      	org.hibernate.cache.EhCacheProvider
   		</property>

		<mapping class="org.prjct.hibernates.entity.User" />
		<!-- <mapping resource="User.hbm.xml"/> -->

	</session-factory>

</hibernate-configuration>